<div style="overflow: hidden;">
    <div style="background-color:#fff;min-height:100%;line-height:1.6;margin:0;padding:0;width:100%">
        <div style="background-color:#f6f6f6;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,&quot;Lucida Grande&quot;,sans-serif;font-size:14px;font-weight:normal;display:block;margin:0 auto;max-width:580px;padding:10%;vertical-align:top;text-align:left">
            <h1 style="margin:0;margin-bottom:15px;padding:0;color:#f26521">{{ subject }}</h1>
            <p style="margin:0;margin-bottom:15px;padding:0;font-size:20px">I have invited you to join this session: <b>{{ session_name }}</b></p>
            <a href="{{ url }}" style="background-color:#f26521;border:solid 1px #f26521;border-color:#f26521;border-radius:5px;color:#fff;display:inline-block;font-size:14px;font-weight:bold;margin:0;padding:12px 25px;text-decoration:none;text-transform:capitalize"
                target="_blank">Join session</a>
            <p style="margin:15px 0px;padding:0">Thanks, Codango Team.</p>
        </div>
    </div>
</div>
