{% load bootstrap %}
{% load cloudinary %}
{% block container %}
<div class="content-block">
<h1>Codango Communities</h1>
<hr>
      {% for community in communities %}
          <div class="row">
          <div class="col-sm-12">
          <div class="community-logo" style="float: left;">
            {% if community.logo %}
                {% cloudinary community.logo width=70 height=70 crop="fill" %}
            {% else %}
                {% cloudinary "vqr7n59zfxyeybttleug.gif" width=64 height=64 crop="fill" %}
            {% endif %}
          </div>
          <div class="community-detail" style="float: left; margin-top: -25px; margin-left: 10px;">
            <div class="community-name">
              <h3><strong>

                <a href="/community/{{community.id}}" style="color: black;"">{{ community.name }}</a></strong></h3>
            </div>
            <div class="community-description" >
              {{community.description}}
            </div>
        </div>
      </div>
    </div>
      <hr>
      {% empty %}
          No communities yet.
      {% endfor %}

</div>
{% endblock %}
