/* body styling */
body {
  background: #e9eaed;
  background-size: cover;
  height: 100%;
  font-family: "Lato", Arial, sans-serif;
  padding-bottom: 20px; }

hr {
  margin-top: 5px; }

.top-margin {
  margin-top: 100px; }

/* navbar styling */
.static-nav.navbar-default {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 1000;
  border: none; }
  .static-nav.navbar-default .navbar-nav > li.active a {
    color: #feb490;
    border-bottom: solid 4px #feb490;
    background-color: transparent; }
  .static-nav.navbar-default .navbar-nav > li > a {
    color: #fff; }
    .static-nav.navbar-default .navbar-nav > li > a:hover {
      color: #feb490; }
    .static-nav.navbar-default .navbar-nav > li > a:focus {
      color: #fff; }
    .static-nav.navbar-default .navbar-nav > li > a i {
      margin-right: 10px; }
  .static-nav.navbar-default .navbar-nav > li .btn {
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    outline: none;
    background-color: transparent; }
    .static-nav.navbar-default .navbar-nav > li .btn:focus, .static-nav.navbar-default .navbar-nav > li .btn:hover {
      color: #feb490;
      border-color: #feb490; }

.navbar-default {
  background: #fff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1); }
  .navbar-default .navbar-form {
    padding-top: 15px;
    margin-right: 30px; }
  .navbar-default .navbar-nav li.active a {
    background-color: transparent;
    border-bottom: solid 4px #f26521;
    color: #f26521; }
  .navbar-default .navbar-nav li a i {
    margin-right: 10px; }

.slide-container {
  position: relative;
  height: 70vh;
  overflow: hidden;
  background-color: black; }
  .slide-container .slide-content {
    height: auto;
    padding: 10px;
    margin-left: 7%; }
  .slide-container img {
    width: 100%;
    opacity: 0.4;
    filter: alpha(opacity=50); }
  .slide-container .overlay {
    height: 100%; }
  .slide-container .carousel-caption {
    top: 10%;
    left: 12%;
    padding-bottom: 30px;
    text-align: left; }
    .slide-container .carousel-caption h3 {
      font-family: AvenirNext-DemiBold;
      font-size: 5.5em;
      letter-spacing: 0;
      color: #feb490; }
    .slide-container .carousel-caption p {
      width: 513px;
      font-size: 18px;
      letter-spacing: 0; }
    .slide-container .carousel-caption .get-stated-btn {
      padding-right: 2em;
      padding-left: 2em;
      margin-top: 2em;
      text-align: center;
      color: #fff;
      border: 1px solid #fff;
      outline: none;
      background-color: transparent; }
      .slide-container .carousel-caption .get-stated-btn .mdi {
        padding-left: 5px; }

.header {
  width: 100%;
  min-height: 350px;
  background-color: rgba(0, 0, 0, 0.61);
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: 20%;
  background-size: cover;
  background-blend-mode: overlay; }

#team {
  width: 100%;
  min-height: 560px;
  padding: 100px 15px 10px;
  margin: 150px 0 0;
  background-image: url("../img/team-background.png");
  background-size: cover; }
  #team .slick-slider {
    margin-left: 60px;
    margin-right: 60px;
    color: #FFFFFF;
    letter-spacing: 0; }
    #team .slick-slider a h3 {
      font-size: 17px;
      color: #FFFFFF; }
    #team .slick-slider a:hover {
      color: #feb490; }
    #team .slick-slider p {
      font-family: AvenirNext-UltraLight;
      font-size: 17px; }
  #team .team-img-container {
    position: relative;
    border: 5px solid #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    width: 245px; }
    #team .team-img-container img {
      width: 100%; }
    #team .team-img-container .team-social-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
      transition-duration: 300ms;
      transition-property: all;
      background: rgba(255, 255, 255, 0.1); }
      #team .team-img-container .team-social-container .team-social-wrapper {
        top: 45%;
        position: relative;
        display: none; }
      #team .team-img-container .team-social-container a {
        color: #212121;
        font-size: 24px;
        margin-right: 20px; }
    #team .team-img-container:hover .team-social-container {
      background: rgba(255, 255, 255, 0.84);
      transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
      transition-duration: 300ms;
      transition-property: all; }
    #team .team-img-container:hover .team-social-wrapper {
      display: block; }
  #team .nav-tabs {
    border-bottom: none;
    display: inline-block; }
    #team .nav-tabs > li > a {
      color: #fff;
      outline: 0;
      padding: 0;
      margin-right: 30px;
      padding-bottom: 5px;
      border: none;
      font-size: 18px; }
      #team .nav-tabs > li > a:hover {
        background-color: transparent;
        border: none;
        border-bottom: 4px solid #fff; }
    #team .nav-tabs > li.active > a,
    #team .nav-tabs > li.active > a:focus,
    #team .nav-tabs > li.active > a:hover {
      background-color: transparent;
      border: none;
      border-bottom: 4px solid #fff;
      color: #fff; }
  #team #team-tab {
    text-align: center; }
  #team .tab-content {
    margin-top: 100px; }

#features {
  margin-top: 80px; }
  #features .flaticon {
    display: block;
    padding: 10px;
    font-family: "Flaticon";
    font-size: 80px;
    line-height: 1; }

.contact {
  text-align: center; }
  .contact h3 {
    display: inline-block;
    padding-bottom: 20px;
    font-family: AvenirNext-DemiBold;
    font-size: 50px;
    color: #9b9b9b;
    border-bottom: 5px solid #feb490; }
  .contact input.form-control,
  .contact textarea.form-control {
    display: block;
    height: 5em;
    box-sizing: padding-box;
    border: 0;
    border: none;
    border-bottom: 0.1rem solid #d1d1d1;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none !important; }
  .contact textarea.form-control {
    height: 10em; }
  .contact .form-control {
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #666;
    outline: 0; }
  .contact .btn {
    padding: 10px 35px;
    margin-top: 20px;
    color: #feb490;
    border: 1px solid #feb490;
    border-radius: 3px;
    background-color: #fff; }
    .contact .btn:focus, .contact .btn:hover {
      color: #fff;
      border: 1px solid #feb490;
      outline: 0;
      background-color: #feb490; }

@media (max-width: 768px) {
  .navbar-form {
    display: none; } }

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  min-height: 70px; }

.navbar-brand {
  height: 70px;
  line-height: 40px; }
  .navbar-brand img {
    height: 100%;
    width: auto; }

.navbar-nav {
  height: auto; }
  .navbar-nav > li > a {
    position: relative;
    padding: 0 15px;
    height: 70px;
    line-height: 75px; }

.notification-icon {
  font-size: 1.3em; }

.glyphicon.notification-icon {
  position: absolute;
  top: -2%;
  left: 60%;
  font-size: 20px;
  color: #337ab7; }

.unread-notificaitons {
  position: absolute;
  padding: 1px;
  font-size: 12px;
  color: white;
  top: -5px;
  left: 55%;
  background-color: #f26521; }

.right, #notifications .notification-icon {
  float: right !important; }

#notifications {
  position: absolute;
  display: none;
  width: 250px;
  top: 76%;
  right: -100%; }
  #notifications .notification-icon {
    margin-top: -13px;
    margin-right: 60px; }
  #notifications .list-group {
    max-height: 400px;
    overflow-y: auto; }

#delete-notifications {
  width: 100%;
  border-radius: 0; }

button .btn {
  border-radius: 4px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s; }

/* end of navbar styling */
/* Home page */
.main {
  margin-top: 100px; }

.jumbotron {
  padding-left: 5%;
  padding-right: 5%;
  background-color: #e9eaed; }

#index-h1 {
  color: #f26521; }

.section-text {
  margin-bottom: 30px;
  font-weight: 300;
  line-height: 1.4em; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #e9eaed; }

.tab-content {
  padding: 15px;
  margin-top: 15px; }

button.btn {
  border-radius: 4px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s; }

#new-notifications {
  width: 400px;
  min-height: 1px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10000;
  display: none;
  padding-bottom: 20px; }

/* About us */
.page-title {
  border-bottom: solid 2px #f26521;
  color: #2d2d2d;
  font-weight: 300;
  padding-bottom: 5px;
  margin-bottom: 20px; }
  .page-title small {
    font-size: 45% !important; }

.section {
  background: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 35px;
  height: 400px; }
  .section p {
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: 500; }

.about-h4 {
  color: #f26521; }

.section-icon {
  margin: 20px 0; }
  .section-icon .about-icon {
    font-size: 100px;
    color: #f26521; }

.page-description {
  font-size: 20px;
  font-family: inherit; }

.about-section {
  margin-top: 20px;
  padding-right: 30px; }

/* Contact us */
.page-content {
  margin-top: 40px; }

/* Team */
.team-members {
  max-width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 35px; }
  .team-members .team-avatar {
    position: relative; }
    .team-members .team-avatar img {
      display: block;
      margin: 0 auto;
      text-align: center; }
  .team-members .team-avatar:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background: rgba(129, 129, 129, 0.1);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .team-members:hover .team-avatar:after {
    background: rgba(47, 60, 72, 0.5);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
  .team-members:hover .team-desc {
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
    opacity: 1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  .team-members .team-desc {
    left: auto;
    bottom: 0;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    opacity: 0;
    color: #fff;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .team-members .team-desc a:hover {
      color: #f26521; }
    .team-members .team-desc h4 {
      font-size: 22px;
      font-weight: 600;
      margin: 0 0 10px;
      color: #fff; }
    .team-members .team-desc span {
      display: block;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      color: #fff; }

a.powered-by-firepad {
  display: none; }

/* team end */
/* sidebar styling */
.section-header {
  color: #bec1c9;
  border-bottom: solid 1px #dedede;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-size: 0.9em;
  padding-bottom: 10px; }

#community .list-group-item,
#popular .list-group-item,
#search .list-group-item {
  border: none; }

.sidebar {
  padding: 25px 20px; }

#sidebar-mobile-link {
  z-index: 999;
  position: fixed;
  top: 50%;
  bottom: 50%;
  left: 0;
  height: 40px;
  font-size: 20px;
  background-color: #f26521; }

#sidebar-mobile {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: -200px;
  height: 100%;
  width: 200px;
  padding: 100px 10px;
  background-color: #ffffff;
  overflow-y: auto; }

/* end of sidebar styling */
/* Content style */
.content-col {
  margin: 0;
  overflow: hidden; }

#id-pdf-file {
  height: 100%; }

#id-pdf-file,
#id-snippet-body {
  margin: 5px 0; }

.form-buttons {
  margin-bottom: 5px; }

textarea {
  margin: 0 0 10px;
  border-radius: 0 !important;
  resize: none; }

.radio {
  padding: 3px 20px; }

.content-block, .popular-block {
  background: #fff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 25px 35px; }
  .content-block .pair-button, .popular-block .pair-button {
    margin-bottom: 10px; }

.popular-block {
  margin: 40px 0;
  padding: 15px; }

a.list-group-item:hover {
  background-color: #f26521 !important;
  color: #fff; }
  a.list-group-item:hover h4 {
    color: #fff; }

#editor {
  width: 300px;
  height: 400px;
  position: relative !important;
  border: 1px solid lightgray;
  margin: auto;
  height: 200px;
  width: 100%; }

.commentform textarea {
  display: block;
  height: 4em;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.comment-post p {
  word-break: break-all; }

.edit-view {
  display: none;
  margin-bottom: 10px; }

.comments-div {
  position: relative; }
  .comments-div .form-group {
    margin: 0; }
  .comments-div .arrow-up {
    position: relative;
    left: -108px;
    top: -37px;
    border-bottom-color: rgba(0, 0, 0, 0.2); }

.invite {
  position: relative; }
  .invite > button {
    margin-top: 10px; }
  .invite > img {
    display: none;
    position: absolute;
    top: 0;
    left: 75%;
    transform: translateX(-100%);
    height: 20px; }

#preloader {
  display: none;
  text-align: center; }

.activity-feed {
  margin-top: 30px;
  margin-bottom: 30px; }

.filter {
  list-style: none; }
  .filter > li {
    float: left; }
    .filter > li > a {
      display: inline; }

#filter-button {
  padding: 6px 12px 5px; }

.activity-feed i {
  margin-right: 10px; }

.feed {
  position: relative;
  margin-bottom: 50px;
  min-height: 64px; }
  .feed:last-child {
    margin-bottom: 200px; }
  .feed .profile-img {
    position: relative;
    float: left;
    left: 0;
    top: 0;
    width: 64px;
    height: 64px;
    background-color: #ccc; }
  .feed img {
    border-radius: 4px; }

.feed-content {
  padding-left: 84px; }
  .feed-content .poster-details {
    margin: 0; }
    .feed-content .poster-details a {
      font-weight: 700; }
    .feed-content .poster-details small {
      color: #999; }
    .feed-content .poster-details .mdi-delete {
      cursor: pointer;
      color: red !important; }
    .feed-content .poster-details .delete,
    .feed-content .poster-details .edit-btn {
      display: none; }
  .feed-content:hover .delete,
  .feed-content:hover .edit-btn {
    display: inline-block; }
  .feed-content h1 {
    font-size: 1.8em;
    font-weight: 300;
    line-height: 1.3em;
    margin-top: 10px;
    margin-bottom: 15px; }
  .feed-content .comments-div {
    width: 70%;
    margin-top: 15px;
    padding: 10px 20px 10px 10px;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #eee;
    display: none; }
    .feed-content .comments-div:after, .feed-content .comments-div:before {
      bottom: 100%;
      left: 25%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .feed-content .comments-div:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #ffffff;
      border-width: 10px;
      margin-left: -10px; }
    .feed-content .comments-div:before {
      border-color: rgba(31, 57, 71, 0);
      border-bottom-color: rgba(0, 0, 0, 0.2);
      border-width: 11px;
      margin-left: -11px; }
  .feed-content .comment {
    position: relative;
    padding: 10px;
    border-bottom: solid 1px #eee; }
    .feed-content .comment figure {
      position: absolute;
      top: 10px;
      left: 2px; }
    .feed-content .comment:last-child {
      border-bottom: none; }
  .feed-content .comment-contents {
    padding-left: 80px;
    min-height: 60px; }
    .feed-content .comment-contents .mdi {
      color: #333;
      font-size: 15px;
      display: none; }
    .feed-content .comment-contents:hover .mdi {
      display: inline-block; }
    .feed-content .comment-contents .mdi-delete {
      cursor: pointer;
      color: red !important; }
  .feed-content #comment-time {
    color: #ccc;
    font-style: normal;
    font-size: 12px; }

.comment-form {
  padding-top: 10px; }

.codango-badge {
  background: #ffedd2;
  display: inline-block;
  padding: 2px 4px;
  margin-bottom: 10px; }
  .codango-badge a {
    text-decoration: none;
    font-size: 12px;
    color: #b69162; }

pre {
  border-radius: 2px; }
  pre.prettyprint {
    border-left: 5px solid #39B54A !important; }

.commentcount {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle; }

.like {
  margin-right: 5px; }

.action-button {
  margin-top: 15px; }
  .action-button a {
    cursor: pointer;
    color: #444; }
    .action-button a:hover {
      text-decoration: none; }
    .action-button a strong {
      font-size: 13px;
      font-family: "Lato", Arial, sans-serif; }

.share-resource {
  vertical-align: middle; }

.share-container {
  position: absolute;
  right: -7px;
  top: -45px;
  display: none; }
  .share-container .share-icons {
    -webkit-box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.31);
    box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.31);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    padding: 4px 1px 4px 10px;
    font-size: 19px;
    background-color: #fff; }
  .share-container .glyphicon {
    left: 46px;
    top: -5px; }
  .share-container .facebook {
    color: #3b5998; }
  .share-container .twitter {
    color: #4099FF; }
  .share-container .gplus {
    color: #d34836; }

.arrow, .arrow-down, .arrow-up {
  height: 0;
  width: 0;
  margin: 0 auto;
  background: transparent;
  border-top: 0 solid #fff;
  border-left: 0 solid #fff;
  border-bottom: 0 solid #fff;
  border-right: 0 solid #fff;
  transition: 0.8s 0.2s;
  border-top-width: 12px;
  border-left-width: 12px;
  border-right-width: 12px;
  border-bottom-width: 12px; }

.arrow-down {
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-bottom-width: 15px; }

.arrow-up {
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-top-width: 15px; }

#file-icon-pdf {
  font-size: 40px;
  color: #ff0000; }

#file-icon-doc {
  font-size: 40px;
  color: #0000ff; }

#file-icon {
  margin-bottom: 0;
  display: inline-block; }

#file-info {
  display: inline-block; }

/* content style end */
/* Pairing style */
.session-name {
  display: inline-block;
  margin-left: 30px; }

.each-session {
  display: inline-block;
  width: 90%;
  margin-bottom: 10px; }

.editor-preferences {
  margin-left: 15px;
  display: inline-block; }

.frequencyform,
.passwordform,
.usernameform {
  border: 1px solid #eee; }
  .frequencyform form,
  .passwordform form,
  .usernameform form {
    margin-left: 10px;
    margin-top: 20px; }
  .frequencyform .form-control,
  .passwordform .form-control,
  .usernameform .form-control {
    width: 80%; }

.formtitle {
  padding: 10px;
  border-bottom: solid 1px #eee;
  margin-bottom: 10px;
  background-color: #e9eaed; }

/*End Pairing Style */
/*React components*/
/*About us static styling*/
.ReactFlipCard {
  margin: 20px;
  text-align: center; }

.ReactFlipCard,
.ReactFlipCard__Back,
.ReactFlipCard__Front {
  width: 340px;
  height: 400px;
  box-sizing: border-box; }

.ReactFlipCard__Back,
.ReactFlipCard__Front {
  padding: 25px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px; }

.ReactFlipCard__Front {
  background-color: #fff; }

.ReactFlipCard__Back {
  color: #000;
  background-color: #fff;
  box-shadow: 10px 10px 5px grey; }

#example {
  text-align: center; }

.ReactFlipCard #cards {
  margin: auto; }

.ReactFlipCard p {
  margin-top: 70px;
  font-size: 18px;
  text-align: center; }

.ReactFlipCard h4 {
  color: #f26521; }

.ReactFlipCard__Front div div svg {
  width: 200px !important;
  height: 200px !important;
  margin: 20px 0;
  font-size: 100px; }

/*End of About us static styling*/
/* google code-prettify */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: decimal !important; }

/* end of google code-prettify */
/*# sourceMappingURL=base.css.map */
