.firepad-userlist {
  text-align: left;
  line-height: normal;
  margin-left: -15px;
}

.firepad-userlist-heading {
  margin: 30px 15px 0;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 2px solid #c9c9c9;
  padding-bottom: 3px;
}

.firepad-userlist-users {
  position: relative;
  left: 15px;
  right: 15px;
  top: -5px;
  bottom: 10px;
}

.firepad-userlist-user {
  position: relative;
  margin: 3px 0;
}
.firepad-userlist-user a{
  text-decoration: none;
  color: inherit;
}

.firepad-userlist-color-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #008000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  float: left;
  margin-right: 10px;
  top: 4px;
  position: relative;
}

input.firepad-userlist-name-input {
  position: absolute;
  left: 38px;
  top: 0;
  width: 105px;
  height: 20px;
  border: 0;
  border-bottom: 1px solid #d6d6d6;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 14px;
  line-height: 14px;
  padding: 1px;
}

.firepad-userlist-name-hint {
  position: absolute;
  left: 38px;
  top: 23px;
  width: 300px; /* I'd rather it clip than wrap. */
  font-size: 9px;
  line-height: 11px;
}

.firepad-userlist-name {
  font-size: 13px;
}
