{% load bootstrap %}
<div id="AddOnModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Enter AddOn name</h4>
            </div>
            <div class="modal-body">
                <form action="/community/create_addon" method="post">
                    {% csrf_token %}
                    {{ addonform|bootstrap }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="create-button">Create</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>