/* body styling */

body {
    height: 100%;
    overflow-x: hidden !important;

    font-family: AvenirNext-Regular, "Lato", Arial, sans-serif;

    background: #fff;
    background-size: cover;
}

hr {
    margin-top: 5px;
}


/* navbar styling */
.nopad {
    padding: 0 !important;
}


.navbar-default {
    border: none;
    background: rgba(0, 0, 0, .5) !important;
    .navbar-form {
        padding-top: 15px;
        margin-right: 30px;
    }


    .navbar-nav {
        & > li {
            &.active {
                a {
                    color: #feb490;
                    border-bottom: solid 4px #feb490;
                    background-color: transparent;
                }
            }

            & > a {
                color: #fff;
                &:hover {
                    color: #feb490;
                }
                i {
                    margin-right: 10px;
                }
            }
        }
    }
}

.h50 {
    height: 40px;
}
.search-bar {
    padding-top: 10px;
    background-color: #fff !important;
    box-shadow: 0 0 3px 0;

    .search-field {
        width: 100%;
    }
    .search-form {
        position: relative;
        .glyphicon-search {
            position: absolute;
            top: 10px;
            right: 20px;

            font-size: 20px;
        }
    }
}
.slide-container {
    position: relative;

    height: 70vh;
    overflow: hidden;

    background-color: rgba(0, 0, 0, 1);
    .slide-content {
        height: auto;
        padding: 10px;
        margin-left: 7%;
    }
    img {
        width: 100%;

        opacity: .4;

        filter: alpha(opacity=50);
    }
    .overlay {
        height: 100%;
    }
    .carousel-caption {
        top: 10%;
        left: 12%;

        padding-bottom: 30px;

        text-align: left;

        h3 {
            font-family: AvenirNext-DemiBold;
            font-size: 5.5em;
            letter-spacing: 0;
            color: #feb490;
        }
        p {
            width: 513px;
            font-size: 18px;
            letter-spacing: 0;
        }
        .get-stated-btn {
            padding-right: 2em;
            padding-left: 2em;
            margin-top: 2em;
            text-align: center;
            color: #fff;
            border: 1px solid #fff;
            outline: none;
            background-color: transparent;

            .mdi {
                padding-left: 5px;
            }
        }
    }
}

.container {
    h4 {
        font-weight: 600;
    }

    .row {
        margin-top: 80px;
    }
}

.header {
    width: 100%;
    min-height: 350px;

    background-color: rgba(0, 0, 0, .61);
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: 20%;
    background-size: cover;
    background-blend-mode: overlay;
}

.static-footer {
    background-color: #3d3d3d;
    margin-top: 50px;
    color: #fff;
    font-family: "AvenirNext-UltraLight";
    .row {
        margin: 30px;
    }
    a {
        color: #fff;
    }
    .btn, .btn:hover, .btn:focus {
        outline: 0;
        color: #fff;
        background-color: #feb490;
        border: 1px solid #feb490
    }
    .mdi {
        font-size: 24px;
        margin-left: 5px;
    }

    .reserved {
        border-top: 1px solid #f2f2f2;
        margin-top: 10px;
        text-align: center;
        padding-top: 10px;
    }
    .mdi-map-marker {
        font-size: 15px;
        margin-left: 0;
    }
    .address {
        width: 60%;
    }
}

.contact {
    text-align: center;
    h3 {
        display: inline-block;
        padding-bottom: 20px;
        font-family: AvenirNext-DemiBold;
        font-size: 50px;
        color: #9b9b9b;
        border-bottom: 5px solid #feb490;
    }

    input.form-control,
    textarea.form-control {
        display: block;
        height: 5em;
        box-sizing: padding-box;
        border: 0;
        border: none;
        border-bottom: .1rem solid #d1d1d1;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none !important;
    }

    textarea.form-control {
        height: 10em;
    }

    .form-control,
    input[type=text],
    textarea {
        width: 100%;
        font-size: 14px;
        line-height: 1.42857143;
        color: #666;
        outline: 0;
    }
    .btn {
        padding: 10px 35px;
        margin-top: 20px;
        color: #feb490;
        border: 1px solid #feb490;
        border-radius: 3px;
        background-color: #fff;
        &:focus, &:hover {
            color: #fff;
            border: 1px solid #feb490;
            outline: 0;
            background-color: #feb490;
        }
    }
}

#team {
    width: 100%;
    min-height: 560px;
    padding: 100px 15px 10px;
    margin: 150px 0 0 0;
    background-image: url("../img/team-background.png");
    background-size: cover;

    .slick-slider {
        margin-left: 60px;
        margin-right: 60px;
        color: #FFFFFF;
        letter-spacing: 0px;
        a {
            h3 {
                font-size: 17px;
                color: #FFFFFF;
            }
            &:hover {
                color: #feb490;
            }
        }
        p {
            font-family: AvenirNext-UltraLight;
            font-size: 17px;
        }
    }
    .team-img-container {
        position: relative;
        border: 5px solid #FFFFFF;
        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.50);
        width: 245px;
        img {
            width: 100%;
        }

        .team-social-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition-timing-function: cubic-bezier(.7, 1, .7, 1);
            transition-duration: 300ms;
            transition-property: all;
            background: rgba(255,255,255,0.1);
            .team-social-wrapper {
                top: 45%;
                position: relative;
                display: none;
            }
            a {
                color: #212121;
                font-size: 24px;
                margin-right: 20px;
            }
        }
        &:hover {
            .team-social-container {
                background: rgba(255,255,255,0.84);
                transition-timing-function: cubic-bezier(.7, 1, .7, 1);
                transition-duration: 300ms;
                transition-property: all;
            }
            .team-social-wrapper {
                display: block;
            }
        }
    }
    .nav-tabs {
        border-bottom: none;
        display: inline-block;
        &>li>a {
            color: #fff;
            outline: 0;
            padding: 0;
            margin-right: 30px;
            padding-bottom: 5px;
            border:none;
            font-size: 18px;
            &:hover {
                background-color: transparent;
                border: none;
                border-bottom: 4px solid #fff;
            }
        }
        & > li.active > a, & > li.active > a:focus, & > li.active > a:hover {
            background-color: transparent;
            border: none;
            border-bottom: 4px solid #fff;
            color: #fff;
        }
    }
    #team-tab {
        text-align: center;
    }
    .tab-content {
        margin-top: 100px;
    }

}

.post {
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 2px;
    img {
        border-radius: 100%;
    }
    .rating-icons, .share {
        padding: 0px;
        margin-top: 20px;
        border-top: 1px solid rgba(151, 151, 151, 0.50);
        padding-top: 8px;
        display: inline-block;
        a {
            padding-left: 5px;
            color: #9B9B9B;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .mdi-comment {
        font-size: 60px;
        color: #9B9B9B;
    }
    .mdi-share-variant {
        margin-right: 10px;
    }
    .comment {
        display: inline-block;
        position: relative;
    }
    .comment-count {
        position: absolute;
        top: 12px;
        left: 1px;
        font-size: 20px;
        color: #fff;
        padding-left: 30%;
    }
    .col-sm-2, .col-xs-2 {
        text-align: center;
    }
    .col-xs-8 {
        border: 1px solid rgba(151, 151, 151, 0.5);
        padding-left: 30px;
        padding-right: 30px;
        border-top: none;
        border-bottom: none;
        p {
            text-align: justify;
            font-size: 18px;
            letter-spacing: 0px;
        }
    }
    &.row {
        margin-top: 20px;
    }
}

.flaticon {
    display: block;
    padding: 10px;
    font-family: "Flaticon";
    font-size: 80px;
    line-height: 1;
}

@media (max-width: 768px) {
    .navbar-form {
        display: none;
    }
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand {
    height: 70px;

    line-height: 40px;
    img {
        width: auto;
        height: 100%;
    }
}

.navbar-nav {
    height: auto;
    & > li {
        & > a {
            position: relative;
            height: 70px;
            padding: 0 15px;
            line-height: 75px;
        }
    }
}

.notification-icon {
    font-size: 1.3em;
}

.glyphicon.notification-icon {
    position: absolute;
    top: -2%;
    left: 60%;

    font-size: 20px;

    color: #337ab7;
}
.unread-notificaitons {
    position: absolute;
    top: -5px;
    left: 55%;

    padding: 1px;

    font-size: 12px;

    color: white;
    background-color: #f26521;
}

.right {
    float: right !important;
}

#notifications {
    position: absolute;
    top: 76%;
    right: -100%;

    display: none;
    width: 250px;
    .notification-icon {
        margin-top: -13px;
        margin-right: 60px;

        @extend .right;
    }
    .list-group {
        max-height: 400px;
        overflow-y: auto;
    }
}

#delete-notifications {
    width: 100%;

    border-radius: 0;
}

button {
    .btn {
        transition: all .3s;

        border-radius: 4px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .1);
    }
}

/* end of navbar styling */

/* Home page */
.resource {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;

    background: #fff;
    box-shadow: 0 0 1px 0;
    b {
        font-size: 10px;
    }
}
.main {
    margin-top: 100px;
}

.jumbotron {
    padding-right: 5%;
    padding-left: 5%;

    background-color: #e9eaed;
}

#index-h1 {
    color: #f26521;
}

.section-text {
    margin-bottom: 30px;

    font-weight: 300;
    line-height: 1.4em;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    background-color: #e9eaed;
}

.tab-content {
    padding: 15px;
    margin-top: 15px;
}

button.btn {
    transition: all .3s;

    border-radius: 4px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .1);
}

#new-notifications {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10000;

    display: none;
    width: 400px;
    min-height: 1px;
    padding-bottom: 20px;
}


/* About us */

.page-title {
    padding-bottom: 5px;
    margin-bottom: 20px;

    font-weight: 300;

    color: #2d2d2d;
    border-bottom: solid 2px #f26521;
    small {
        font-size: 45% !important;
    }
}

.section {
    height: 400px;
    padding: 35px;
    margin-bottom: 10px;

    background: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
    p {
        font-size: 1.1em;
        font-weight: 500;
        line-height: 1.5em;
    }
}

.about-h4 {
    color: #f26521;
}

.section-icon {
    margin: 20px 0;
    .about-icon {
        font-size: 100px;

        color: #f26521;
    }
}

.page-description {
    font-family: inherit;
    font-size: 20px;
}

.about-section {
    padding-right: 30px;
    margin-top: 20px;
}

/* Contact us */

.page-content {
    margin-top: 40px;
}

/* Team */

.team-members {
    position: relative;

    max-width: 100%;
    margin-bottom: 35px;
    overflow: hidden;

    cursor: pointer;

    .team-avatar {
        position: relative;
        img {
            display: block;
            margin: 0 auto;

            text-align: center;
        }
    }

    .team-avatar:after {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: " ";
        transition-timing-function: cubic-bezier(.7, 1, .7, 1);
        transition-duration: 300ms;
        transition-property: all;

        background: rgba(129, 129, 129, .1);
    }

    &:hover {
        .team-avatar:after {
            transition-timing-function: cubic-bezier(.7, 1, .7, 1);
            transition-duration: 300ms;
            transition-property: all;

            background: rgba(47, 60, 72, .5);
        }

        .team-desc {
            -webkit-transition: all .4s;
               -moz-transition: all .4s;
                -ms-transition: all .4s;
                 -o-transition: all .4s;
                    transition: all .4s;
            -webkit-transform: translate3d(0, -5%, 0);
            -webkit-transform: translate3d(0, -10%, 0);
                    transform: translate3d(0, -5%, 0);
                    transform: translate3d(0, -10%, 0);

            opacity: 1;
        }
    }

    .team-desc {
        position: absolute;
        bottom: 0;
        left: auto;
        width: 100%;
        padding: 0 20px;
        -webkit-transition: opacity .3s;
           -moz-transition: opacity .3s;
            -ms-transition: opacity .3s;
             -o-transition: opacity .3s;
                transition: opacity .3s;
        -webkit-transform: translate3d(0, 10%, 0);
                transform: translate3d(0, 10%, 0);
        opacity: 0;
        color: #fff;
        a:hover {
            color: #f26521;
        }
        h4 {
            margin: 0 0 10px;
            font-size: 22px;
            font-weight: 600;
            color: #fff;
        }

        span {
            display: block;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            color: #fff;
        }
    }
}

.powered-by-firepad {
    display: none;
}

/* team end */


/* sidebar styling */

.section-header {
    padding-bottom: 10px;
    margin: 0 0 20px;
    font-size: .9em;
    text-transform: uppercase;
    color: #bec1c9;
    border-bottom: solid 1px #dedede;
}

#community .list-group-item,
#popular .list-group-item,
#search .list-group-item {
    border: none;
}

.sidebar {
    padding: 25px 20px;
}

#sidebar-mobile-link {
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 0;
    z-index: 999;

    height: 40px;

    font-size: 20px;

    background-color: #f26521;
}

#sidebar-mobile {
    position: fixed;
    top: 0;
    left: -200px;
    z-index: 1000;

    width: 200px;
    height: 100%;
    padding: 100px 10px;
    overflow-y: auto;

    background-color: #fff;
}


/* end of sidebar styling */


/* Content style */

.content-col {
    margin: 0;
    overflow: hidden;
}

#id-pdf-file {
    height: 100%;
}

#id-snippet-body,
#id-pdf-file {
    margin: 5px 0;
}

.form-buttons {
    margin-bottom: 5px;
}

textarea {
    margin: 0 0 10px 0;

    resize: none;

    border-radius: 0 !important;
}

.radio {
    padding: 3px 20px;
}

.content-block {
    padding: 25px 35px;

    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.1);

    .pair-button {
        margin-bottom: 10px;
    }
}

.popular-block {
    padding: 15px;
    margin: 40px 0;

    @extend .content-block;
}

a.list-group-item:hover {
    color: #fff;
    background-color: #f26521 !important;
    h4 {
        color: #fff;
    }
}


#editor {
    position: relative !important;

    width: 300px;
    width: 100%;
    height: 400px;
    height: 200px;
    margin: auto;

    border: 1px solid lightgray;
}


.commentform {
    textarea {
        display: block;
        width: 100%;
        height: 4em;
        margin-right: auto;
        margin-left: auto;
    }
}

.comment-post {
    p {
        word-break: break-all;
    }
}
.edit-view {
    display: none;
    margin-bottom: 10px;
}

.comments-div {
    position: relative;
    .form-group {
        margin: 0;
    }

    .arrow-up {
        position: relative;
        top: -37px;
        left: -108px;

        border-bottom-color: rgba(0, 0, 0, .2);
    }
}

.invite {
    position: relative;
    & > button {
        margin-top: 10px;
    }

    & > img {
        position: absolute;
        top: 0;
        left: 75%;

        display: none;
        height: 20px;

        transform: translateX(-100%);
    }
}

#preloader {
    display: none;

    text-align: center;
}

.activity-feed {
    margin-top: 30px;
    margin-bottom: 30px;
}

.filter {
    list-style: none;
    & > li {
        float: left;
        & > a {
            display: inline;
        }
    }
}

#filter-button {
    padding: 6px 12px 5px 12px;
}

.activity-feed i {
    margin-right: 10px;
}

.feed {
    position: relative;

    min-height: 64px;
    margin-bottom: 50px;
    &:last-child {
        margin-bottom: 200px;
    }

    .profile-img {
        position: relative;
        top: 0;
        left: 0;

        float: left;
        width: 64px;
        height: 64px;

        background-color: #ccc;
    }

    img {
        border-radius: 4px;
    }
}

.feed-content {
    padding-left: 84px;

    .poster-details {
        margin: 0;
        a {
            font-weight: 700;
        }
        small {
            color: #999;
        }
        .mdi-delete {
            cursor: pointer;

            color: red !important;
        }
        .edit-btn,
        .delete {
            display: none;
        }
    }
    &:hover .edit-btn,
    &:hover .delete {
        display: inline-block;
    }

    h1 {
        margin-top: 10px;
        margin-bottom: 15px;

        font-size: 1.8em;
        font-weight: 300;
        line-height: 1.3em;
    }

    .comments-div {
        display: none;
        width: 70%;
        padding: 10px;
        padding-right: 20px;
        margin-top: 15px;

        border-top: 1px solid #eee;
        box-shadow: 1px 3px 3px 1px rgba(0,0, 0, .2);

        &:after,
        &:before {
            position: absolute;
            bottom: 100%;
            left: 25%;

            width: 0;
            height: 0;

            content: " ";
            pointer-events: none;

            border: solid transparent;
        }
        &:after {
            margin-left: -10px;

            border-width: 10px;
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #fff;
        }
        &:before {
            margin-left: -11px;

            border-width: 11px;
            border-color: rgba(31, 57, 71, 0);
            border-bottom-color: rgba(0,0, 0, .2);
        }
    }

    .comment {
        position: relative;

        padding: 10px;

        border-bottom: solid 1px #eee;
        figure {
            position: absolute;
            top: 10px;
            left: 2px;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    .comment-contents {
        min-height: 60px;
        padding-left: 80px;
        .mdi {
            display: none;

            font-size: 15px;

            color: #333;
        }

        &:hover {
            .mdi {
                display: inline-block;
            }
        }

        .mdi-delete {
            cursor: pointer;

            color: red !important;
        }
    }
    #comment-time {
        font-size: 12px;
        font-style: normal;

        color: #ccc;
    }
}

.comment-form {
    padding-top: 10px;
}

.codango-badge {
    display: inline-block;
    padding: 2px 4px;
    margin-bottom: 10px;

    background: #ffedd2;
    a {
        font-size: 12px;

        text-decoration: none;

        color: #b69162;
    }
}

pre {
    border-radius: 2px;
    &.prettyprint {
        border-left: 5px solid #39b54a !important;
    }
}

.commentcount {
    display: inline-block;
    margin-left: 5px;

    vertical-align: middle;
}

.like {
    margin-right: 5px;
}

.action-button {
    margin-top: 15px;
    a {
        cursor: pointer;

        color: #444;
        &:hover {
            text-decoration: none;
        }
        strong {
            font-family: "Lato", Arial, sans-serif;
            font-size: 13px;
        }
    }
}

.share-resource {
    vertical-align: middle;
}
.share-container {
    position: absolute;
    top: -45px;
    right: -7px;

    display: none;
    .share-icons {
        padding: 4px 1px;
        padding-left: 10px;

        font-size: 19px;

        -webkit-transition: all .4s linear;
           -moz-transition: all .4s linear;
            -ms-transition: all .4s linear;
             -o-transition: all .4s linear;
                transition: all .4s linear;

        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
                border-radius: 3px;
        background-color: #fff;
        -webkit-box-shadow: 3px 4px 5px 1px rgba(0,0,0,.31);
           -moz-box-shadow: 3px 4px 5px 1px rgba(0,0,0,.31);
                box-shadow: 3px 4px 5px 1px rgba(0,0,0,.31);
    }
    .glyphicon {
        top: -5px;
        left: 46px;
    }
    .facebook {
        color: #3b5998;
    }
    .twitter {
        color: #4099ff;
    }
    .gplus {
        color: #d34836;
    }
}

.arrow {
    width: 0;
    height: 0;
    margin: 0 auto;

    transition: .8s .2s;

    border-top: 0 solid #fff;
    border-top-width: 12px;
    border-right: 0 solid #fff;
    border-right-width: 12px;
    border-bottom: 0 solid #fff;
    border-bottom-width: 12px;
    border-left: 0 solid #fff;
    border-left-width: 12px;
    background: transparent;
}

.arrow-down {
    border-right-color: transparent;
    border-bottom-width: 15px;
    border-bottom-color: transparent;
    border-left-color: transparent;

    @extend .arrow;
}

.arrow-up {
    border-top-width: 15px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;

    @extend .arrow;
}

#file-icon-pdf {
    font-size: 40px;

    color: #f00;
}

#file-icon-doc {
    font-size: 40px;

    color: #00f;
}

#file-icon {
    display: inline-block;
    margin-bottom: 0;
}

#file-info {
    display: inline-block;
}
/* content style end */

/* Pairing style */

.session-name {
    display: inline-block;
    margin-left: 30px;
}
.each-session {
    display: inline-block;
    width: 90%;
    margin-bottom: 10px;
}

.editor-preferences {
    display: inline-block;
    margin-left: 15px;
}

.frequencyform,
.usernameform,
.passwordform {
    border: 1px solid #eee;
    form {
        margin-top: 20px;
        margin-left: 10px;
    }
    .form-control {
        width: 80%;
    }
}

.formtitle {
    padding: 10px;
    margin-bottom: 10px;

    border-bottom: solid 1px #eee;
    background-color: #e9eaed;
}
/*End Pairing Style */

/*React components*/


/*About us static styling*/
.ReactFlipCard {
    margin: 20px;

    text-align: center;
}

.ReactFlipCard,
.ReactFlipCard__Front,
.ReactFlipCard__Back {
    width: 340px;
    height: 400px;
    box-sizing: border-box;
}

.ReactFlipCard__Front,
.ReactFlipCard__Back {
    padding: 25px;

    text-align: center;

    border: 1px solid #ccc;
    border-radius: 10px;
}

.ReactFlipCard__Front {
    background-color: #fff;
}

.ReactFlipCard__Back {
    color: #000;
    background-color: #fff;
    box-shadow: 10px 10px 5px grey;
}

#example {
    text-align: center;
}

.ReactFlipCard #cards {
    margin: auto;
}

.ReactFlipCard p {
    margin-top: 70px;

    font-size: 18px;

    text-align: center;
}

.ReactFlipCard h4 {
    color: #f26521;
}

.ReactFlipCard__Front div div svg {
    width: 200px !important;
    height: 200px !important;
    margin: 20px 0;

    font-size: 100px;
}

/*End of About us static styling*/

/* google code-prettify */

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: decimal !important;
}


/* end of google code-prettify */
/*# sourceMappingURL=base.css.map */
