{% load cloudinary %}
<div class="content-block">
    <div class="panel-heading" id="followers-heading">
        <div class="page-title">{{direction|title}}</div>
        <div class="row" id="followers-detail">
            {% for following in follow_list %}
                <div class="col-sm-4 text-center">
                    {% if direction == 'following' %}
                        {% if following.followed.profile.image %}
                            {% cloudinary following.followed.profile.image width=150 height=150 class="img-responsive" crop="fill" %}
                        {% else %}
                            {% cloudinary "vqr7n59zfxyeybttleug.gif" width=150 height=150 crop="fill" %}
                        {% endif %}
                        <span>
                            <a href="/user/{{ following.followed.username }}" id="follower-name">{{ following.followed.username }}</a>
                        </span>
                    {% else %}
                        {% if following.follower.profile.image %}
                            {% cloudinary following.follower.profile.image width=150 height=150 class="img-responsive" crop="fill" %}
                        {% else %}
                            {% cloudinary "vqr7n59zfxyeybttleug.gif" width=150 height=150 crop="fill" %}
                        {% endif %}
                        <span>
                            <a href="/user/{{ following.follower.username }}" id="follower-name">{{ following.follower.username }}</a>
                        </span>
                    {% endif %}
                </div>
            {% empty %}
            {{ no_follow }}
            {% endfor %}
          </div>
    </div>
</div>
