{% extends "account/layout/base.html" %}

{% load cloudinary %}
{% load staticfiles %}
{% cloudinary_includes %}

{% block title %}List of Communities{% endblock title %}

{% block sidebar %}

<div class="col-sm-3 hidden-sm hidden-xs">
    <div class="content-block">
        {% include "account/partials/community-menu.html" %}
    </div>
    <div class="popular-block">
        {% include "account/partials/popular.html" %}
    </div>
</div>
{% endblock sidebar %}

{% block mobile-sidebar %}
<button type="button" class="visible-sm visible-xs" id="sidebar-mobile-link">
	<i class="glyphicon glyphicon-chevron-right"></i>
</button>
<div class="visible-sm visible-xs" id="sidebar-mobile">
    {% include "account/partials/community-menu.html" %}
</div>
{% endblock mobile-sidebar %}

{% block content %}
<div class="content-block">
	<form method="post">
		{% csrf_token %}
		{% for addon in addons %}
			<input type="checkbox" value="{{ addon.name }}" name="addons_check" 
			{% if addon in community_addons %} checked {% endif %}/>
				{{ addon.name }}
			</br>
		{% endfor %} 
		<input id="community_submit" class="btn btn-primary" type="submit" value="Link AddOn" />
	</form>
</div>
{% endblock content %}